{% if "NODE_ENV" | env === "development" %}

  <!DOCTYPE html>
  <html lang="en-us">
    <head>
      <title>LU Send</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="MSSmartTagsPreventParsing" content="true"/>
      <meta name="keywords" content=""/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

      <link
      rel="stylesheet"
      type="text/css"
      href="https://liberty-sa.terradotta.com/_assets/css/bootstrap.min-blue.css?v=TDS19.1-07212020"
/>

      <link
      rel="stylesheet"
      type="text/css"
      href="https://liberty-sa.terradotta.com/_assets/css/master-responsive.css?v=TDS19.1-07212020"
/>

      <link
      rel="stylesheet"
      type="text/css"
      href="https://liberty-sa.terradotta.com/accounts/EC9E27DA82CA03423EC74CA93EC641B1/themes/stockassets/test.min.css"
/>

      <style type="text/css">
        header {
          background-image: none;
          background-color: #202020;
        }

        header {
          padding: 0;
          border-top: 0;
        }

        footer {
          background-image: none;
          background-color: #202020;
        }

        footer {
          padding: 0;
        }

        a {
          color: #0a254e;
        }

        a:hover {
          color: #091f42;
        }
      </style>

      <script
      type="text/javascript"
      src="https://liberty-sa.terradotta.com/_assets/js/master-responsive.js?v=TDS19.1-07212020"
    ></script>

      <script
      type="text/javascript"
      src="https://liberty-sa.terradotta.com/accounts/EC9E27DA82CA03423EC74CA93EC641B1/themes/stockassets/td_script.js"
    ></script>

      <meta
      property="og:title"
      content="LU Send - Israel - Residence Life - DuBose"
/>
      <meta property="og:type" content="website"/>
      <meta property="og:site_name" content="LU Send"/>
      <meta
      property="og:url"
      content="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Programs.ViewProgram&amp;Program_ID=12287"
/>
      <meta
      itemprop="name"
      content="LU Send - Israel - Residence Life - DuBose"
/>
      <meta property="og:street-address" content="Abu Ghosh"/>
      <meta property="og:region" content="Middle East"/>
      <meta property="og:country-name" content="Israel"/>
      <meta
      itemprop="description"
      content=" // INSTRUCTIONS // + Use single
    quotes when adding strings or urls // + If adding numbers or ids, single
    quotes are not necessary // + If you want to add custom lines to the 2
    tables, follow the examples given (also see PAYMENT_DEADLINES) // + For most
    of these, a simple change from false to true or true to false works // +
    Read the instructions next to each parameter to know what it does and how to
    change it var TRAVEL_RESOURCES = false; //change from false to a pdf url in
    single quotes var TRIP_OVERVIEW = false; //change from false to a pdf url in
    single quotes var TRAVEL_SAFETY = false; //change from false to a pdf url in
    single quotes var TRAVELER_CHECKLIST = false; //change from false to a pdf
    url in single quotes var FLIGHT_ITINERARY = false; //change from false to a
    pdf url in single quotes (this is organization on LU Serve) var
    PACKING_GUIDE = false; //change from false to a pdf url in single quotes var
    HEADER_IMAGE_ID = false; //change from false to an id for a custom header
    image var BODY_IMAGE_ID = false; //change from false to an id for a custom
    body image var DISPLAY_TITLE = true; //change from true to false to hide the
    title var DISPLAY_LEARN_MORE = true; //change from true to false to hide the
    learn more button var DISPLAY_LEARN_MORE_SMALL = false; //change from false
    to true to show the pitch learn more button var DISPLAY_APPLY_SMALL = false;
    //change from false to true to show the pitch apply button var
    DISPLAY_PAY_SMALL = false; //change from false to true to show the pitch pay
    button var CUSTOM_PAY_LINK = false; //change from false to a link for a
    custom payment link var CUSTOM_PAY_VALUE = 'Make a Payment'; //change the
    pay button text here var VIDEO_LINK = false; //change from false to a link
    for a custom video link var PAYMENT_DEADLINES = { //change any payment from
    false 'CQ Payment' : 'Due 14 Days After Acceptance', 'Deposit' : 'Due 14
    Days After Acceptance', 'Payment 1' : false, 'Payment 2' : false, 'Payment
    3' : false, 'Payment 4' : false, 'Payment 5' : false, 'Final Payment': false
    } var CUSTOM_TRIP_DETAILS = { //follow the example below, use commas for
    multiple entries // 'Age': '18+',
    #pagebodycontent>div.page-header>div>h3.col-sm-10>#brochure-title {
    position: absolute; color: #ffffff; left: 50%; top: 50%; min-width: 40%;
    max-width: 80%; transform: translate(-50%, -50%); padding: 15px; background:
    rgba(0, 0, 0, 0.65); border: 1px solid #ffffff; border-radius: 5px; }
    #pagebodycontentpageactions>div.hidden-sm.hidden-xs, /* Search Stuff */
    #pagebodycontentheader, /* Brochure Heading + Tips */
    #pagebodycontent>div.page-header>div>h3.col-sm-10>small, /* Small Descriptor
    */ #pagebodycontent>div.page-header>div>h3.col-sm-2, /* Program Buttons */
    #pagebodycontent>div.row, /* Location + Apply */
    #pagebodycontent>div.panel.panel-primary, /* Fact Sheet */
    #pagebody>div:nth-child(2)>div.panel-heading, /* Description Heading */
    #pagebody>div:nth-child(4) { /* Dates */ display: none; visibility: hidden;
    } #pagebodycontent>div.page-header>div>h3.col-sm-10 { /* Title */
    text-align: center; display: block; margin-left: auto; margin-right: auto;
    min-height: 200px; font-size: 20px; font-weight: bold; width: 90%; float:
    none; background-image:
    url('https://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=21698');
    -webkit-background-repeat: no-repeat; -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat; background-repeat: no-repeat;
    -webkit-background-position: center center; -moz-background-position: center
    center; -o-background-position: center center; background-position: center
    center; -webkit-background-size: cover; -moz-background-size: cover;
    -o-background-size: cover; background-size: cover; }
    #pagebodycontent>div.page-header { /* Remove margin from header */ margin:
    0; border-bottom: none; } #pagebody>div:nth-child(2) { /* Remove border */
    margin-bottom: -50px; margin-top: -20px; border: 0; }
    #pagebody>form>div>button { /* Style Buttons at the bottom */ display:
    inline-block; margin-top: 10px; padding: 10px 30px; font-size: 2em;
    font-weight: bold; border-radius: 5px; transition: all 0.3s ease 0s; }
    .videoWrapper { position: relative; display: block; padding-bottom: 400px;
    /* 16:9 */ padding-top: 25px; max-width: 800px; margin: auto; height: 0; }
    .videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%;
    height: 100%; max-height: 400px; } .buttonWrapper { display: block; width:
    auto; margin: auto; margin-top: 20px; } #donate-pay-button, #learn-more,
    #apply-now { display: none; } #myModalBody object { width: 100%; height:
    80vh; } button { margin-left: 5px; } .table { position: relative; }
    .table>tbody+tbody { border-top: 1px solid #ddd; } .table tr>th {
    background-color: #ccd9ec; cursor: pointer; } .table tr:nth-child(even)>td {
    background-color: #f2f7ff; } .table tr:nth-child(odd)>td { background-color:
    #fefeff; } .expand { display: inline-block; position: absolute; font-size:
    20px; cursor: pointer; top: 5px; right: 10px; } @media (min-width: 768px) {
    .modal-dialog { width: 90%; } } &nbsp; Utilizing the unique medium of
    international travel and walking where Jesus walked, RAs will be further
    developed in their leadership ability. By experiencing another culture, RAs
    will expand their global perspective, connecting the work Jesus began
    centuries ago with their work on our campus and in their future contexts. In
    this way, our RAs will gain inspiration and insight that will ensure
    faithfulness in the career, community, and church to which God has called
    them, wherever that may be. **Please note: You must be an RA to apply for
    this trip&nbsp; Application Deadline: March 15, 2022 (trip may fill before
    this date) Make a PaymentLearn MoreApply Trip Details + Payment Details +
    &nbsp;&nbsp; Travel Resources &nbsp;&nbsp; Trip Overview &nbsp;&nbsp; Travel
    Safety &nbsp;&nbsp; Traveler Checklist &nbsp;&nbsp; Flight Itinerary
    &nbsp;&nbsp; Packing Guide &nbsp; //Constants, Non-Editable var BUTTON_LINKS
    = { //simple enumarated values ' tr': TRAVEL_RESOURCES, 'to' :
    TRIP_OVERVIEW, 'ts' : TRAVEL_SAFETY, 'tc' : TRAVELER_CHECKLIST, 'fi' :
    FLIGHT_ITINERARY, 'pg' : PACKING_GUIDE, 'lm' :
    'https://liberty.co1.qualtrics.com/jfe/form/SV_9F5LbHhn4GDY0VT' //Learn More
    Link } var BUTTON_HIDE={ 'tr' : HIDE_TRAVEL_RESOURCES, 'to' :
    HIDE_TRIP_OVERVIEW, 'ts' : HIDE_TRAVEL_SAFETY, 'tc' :
    HIDE_TRAVELER_CHECKLIST, 'fi' : HIDE_FLIGHT_ITINERARY, 'pg' :
    HIDE_PACKING_GUIDE, 'group4' : HIDE_BODY, 'payment_table' : HIDE_PAYMENTS,
    'facts_table' : HIDE_TRIP_DETAILS } var BACKGROUND_IMAGES={ //name of title
    world or location with image id 'australia' : '32500' , 'africa' : '24751' ,
    'albania' : '21716' , 'alaska' : '24329' , 'austria' : '24652' , 'atlanta' :
    '23896' , 'asheville' : '23895' , 'bahamas' : '29801' , 'bangladesh' :
    '26367' , 'basketball' : '32249' , 'bgea' : '26365' , 'bosnia' : '25386' ,
    'brazil' : '21777' , 'bulgaria' : '30469' , 'cambodia' : '21750' , 'china' :
    '21751' , 'charlotte' : '26365' , 'colombia' : '24752' , 'costa rica' :
    '21752' , 'croatia' : '32801' , 'curacao' :'30282', 'denmark' : '25390' ,
    'domestic' : '21753' , 'dominican republic' : '21754' , 'ecuador' : '29803'
    , 'england' : '21756' , 'europe' : '21757' , 'ethnos360' : '21769' ,
    'finland' : '22416' , 'france' : '22789' , 'germany' : '21758' , 'greece' :
    '21759' , 'growing entrepreneurs international' : '21776' , 'guatemala' :
    '21761' , 'haiti' : '21778' , 'hockey' : '22415' , 'honduras' : '22790' ,
    'india' : '21762' , 'ireland' : '21763' , 'italy' : '21757' , 'iceland' :
    '25378' , 'israel' : '21764' , 'jordan' : '23903' , 'jamaica' : '21765' ,
    'japan' : '21766' , 'jerusalem' : '26169' , 'kenya' : '21767' , 'kosovo' :
    '22791' , 'los angeles' : '25388' , 'lucom' : '26408' , 'malaysia' : '29004'
    , 'mexico' : '21822' , 'nepal' : '21781' , 'new york city' : '29086' ,
    'nicaragua' : '21796' , 'northern ireland' : '21768' , 'oberammergau' :
    '21758' , 'ohio' : '29820' , 'orlando' : '33253' , 'panama' : '33101' ,
    'papua new guinea' : '21769' , 'peru' : '30440' , 'philadelphia' : '24156' ,
    'portugal' : '21770' , 'poland' : '25379' , 'romania' : '21771' , 'rwanda' :
    '21772' , 'scandinavia' : '22416' , 'slovenia' : '30499' , 'slv' : '26168' ,
    'spain' : '21774' , 'south korea' : '21773' , 'swaziland' : '26368' ,
    'sweden' : '29006' , 'switzerland' : '21775' , 'tanzania' : '23902' , 'ten2'
    : '24665' , 'thailand' : '21776' , 'togo' : '25377' , 'turkey' : '25391' ,
    'united kingdom' : '21756' , 'united states' : '25387' , 'washington dc' :
    '25387' , }; var TRIP_DETAIL_PARAMETERS=[ //parameters that will appear
    under trip details '11029' , //Term '11034' , //School '11035' ,
    //Department '11010' , //Course options '11036' , //Durations ]; var
    PAYMENT_PARAMETERS=[ //parameters that will appear under payment details
    '11032' , //CQ Assessment '11019' , //Deposit '11020' , //Payment 1 '11021'
    , //Payment 2 '11022' , //Payment 3 '11023' , //Payment 4 '11024' ,
    //Payment 5 '11025' //Final Payment ]; var DATE_OPTIONS={ //Options for
    Dates weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric' };
    function navigate(button) { //allows buttons to work as links var
    link=button.dataset.href; window.open(link, '_blank' ); } function
    navigateSelf(button) { var link=button.dataset.href; window.open(link,
    '_self' ); } function encodeSearchValue(value) { //encode search value for
    link return value.replace(/&/g, 'and' ); } function createModal(id) {
    //create modals that allow display of pdfs var currentnode=BUTTON_LINKS[id];
    if (currentnode) { if (id !='lm' ) currentnode +='#page=1&view=FitH' ; else
    currentnode +='?Trip=' + encodeSearchValue($('#pagebodycontent
    div.page-header h3.col-sm-10').text().match(/^(.*)$/m)[0]);
    currentnode=encodeURI(currentnode);
    document.getElementById('myModalBody').innerHTML='' ; var
    newobject=document.createElement('object'); newobject.setAttribute('data',
    currentnode); var newiframe=document.createElement('iframe');
    newiframe.setAttribute('src', currentnode); newiframe.innerHTML='This
    browser does not support PDFs. Please download the PDF to view it: ' ; var
    newa=document.createElement('a'); newa.setAttribute('href', currentnode);
    newiframe.appendChild(newa); newobject.appendChild(newiframe);
    document.getElementById('myModalBody').appendChild(newobject);
    $('#myModal').modal(); } } function checkParameter(element) { //get
    parameter information var parameter={}; var titleElement=$('[id^=h_' +
    element + ']' ); var contentElement=$('[id^=id_' + element + ']' ); if
    (titleElement.length) { //parameter is set
    parameter.title=$.trim(titleElement.text()).slice(0, -1) + '' ;
    parameter.content=$.trim(contentElement.text()) + '' ;
    parameter.date=PAYMENT_DEADLINES.hasOwnProperty(parameter.title) ?
    PAYMENT_DEADLINES[parameter.title] ? PAYMENT_DEADLINES[parameter.title] : ''
    : '' ; return parameter; } else { //parameter not set return false; } }
    function expandTable(id) { //allow tables to expand onclick $('#' +
    id).siblings('tr').fadeToggle(500); } function setHeaderBody(imageID) {
    //set image header and body var imageID1=HEADER_IMAGE_ID ? HEADER_IMAGE_ID :
    imageID; var imageID2=BODY_IMAGE_ID ? BODY_IMAGE_ID : imageID;
    $('#pagebodycontent div.page-header div
    h3.col-sm-10').css('background-image',
    'url(https://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=' +
    imageID1 + ')' ); $('#group4').css('background-image',
    'url(https://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=' +
    imageID2 + ')' ); } $(document).ready(function() { //Add Parameters to Trip
    Details Table $(TRIP_DETAIL_PARAMETERS).each(function() { var
    parameter=checkParameter(this); if (parameter) {
    $('#facts_table').find('tbody').append('\n' + parameter.title + '' +
    parameter.content + '' ); } }); //Add Custom Values to Trip Details Table
    for(var i in CUSTOM_TRIP_DETAILS) {
    $('#facts_table').find('tbody').append('\n' + i + '' +
    CUSTOM_TRIP_DETAILS[i] + '' ); } //Add Locations to Trip Details Table var
    locations=[]; $('#pagebodycontent div.row div.col-sm-8.col-lg-9 ul
    li:nth-child(1)').find('span').each(function() {
    locations.push($(this).text()); }); locations=locations.map(function(cur, i,
    arr) { if (i + 1===arr.length) return cur; else return ' ' + cur.slice(0,
    -1) + ' | ' ; }).join('');
    $('#facts_table').find('tbody').append('\nLocations' + locations + '' );
    //ADD Parameters to Payment Details Table var total=0; var tbd=false;
    $(PAYMENT_PARAMETERS).each(function() { var parameter=checkParameter(this);
    if (parameter) { if (!Number(parameter.content)) tbd=true; else total
    +=Number(parameter.content); parameter.content=Number(parameter.content) ?
    '$' + parameter.content + '.00' : parameter.content;
    $('#payment_table').find('tbody').append('\n' + parameter.title + '' +
    parameter.content + '' + parameter.date + '' ); } }); //Add Custom Payments
    to Payment Details Table for(var i in CUSTOM_PAYMENTS) { var
    value=CUSTOM_PAYMENTS[i][0]; if (!Number(value)) tbd=true; else total
    +=Number(value); value=Number(value) ? '$' + value + '.00' : value;
    $('#payment_table').find('tbody').append('\n' + i + '' + value + '' +
    CUSTOM_PAYMENTS[i][1] + '' ) } //Add Total to Payment Details Table
    total=tbd ? 'TBD' : total ? '$' + total.toFixed(2) : 'Payment Information
    Coming Soon' ; $('#payment_table').find('tbody').append('\n' + 'Total:' + ''
    + total + '' ); //Hide Tables and/or Body and/or Buttons for(var i in
    BUTTON_HIDE) { if(BUTTON_HIDE[i]) $('#' + i).hide(); } if(HIDE_PAYMENTS &&
    HIDE_TRIP_DETAILS){ $('#trip-fact-side').hide();
    $('#trip-pitch-side').removeClass('col-sm-7');
    $('#trip-pitch-side').addClass('col-sm-12'); } //Grab Title and Style It var
    title=$('#pagebodycontent div.page-header
    h3.col-sm-10').text().match(/^(.*)$/m)[0].replace('LU Send - ',
    '').replace(' LU Send Domestic - ', ''); $(' #pagebodycontent
    div.page-header div h3.col-sm-10').html('' + title + '' ); //Change Flight
    Itinerary to Organization if LU Serve if (title.toLowerCase().indexOf('lu
    serve - ') != -1) { $(' #flightororg').text('Organization'); } //Add Video
    if Link is Available if (VIDEO_LINK) {
    VIDEO_LINK=VIDEO_LINK.replace('watch?v=', ' embed/'); $('.videoWrapper
    iframe').attr('src', VIDEO_LINK); } else { $('.videoWrapper').hide(); }
    //Add the Default Header and Body Images var locationPictureBackUp=false;
    for (var i in BACKGROUND_IMAGES) { if (title.toLowerCase().indexOf(i) !=-1)
    { setHeaderBody(BACKGROUND_IMAGES[i]); locationPictureBackUp=false; break; }
    else if(locations.toLowerCase().indexOf(i) !=-1) {
    locationPictureBackUp=BACKGROUND_IMAGES[i]; } } if(locationPictureBackUp)
    setHeaderBody(locationPictureBackUp); //Add Learn More Button
    if(DISPLAY_LEARN_MORE) { $('#pagebody form div.text-center').each(function()
    { var space=document.createElement('BR'); if
    ($(this).children('button').length !=0) $(this).append(space); var
    newbutton=document.createElement('button'); newbutton.innerHTML='Learn More'
    ; newbutton.setAttribute('class', 'btn btn-secondary' );
    newbutton.setAttribute('type', 'button' ); newbutton.setAttribute('onclick',
    'createModal('lm')' ); if ($(this).children('button').length !=0)
    $(this).append(newbutton); //Only show if apply button is there var
    newbutton2=document.createElement('button'); newbutton2.innerHTML='Already
    Applied?' ; newbutton2.setAttribute('class', 'btn btn-secondary' );
    newbutton2.setAttribute('type', 'button' );
    newbutton2.dataset.href='/index.cfm?FuseAction=Security.LoginWizardStepOne'
    ; newbutton2.setAttribute('onclick', 'navigateSelf(this)' ); if
    ($(this).children('button').length !=0) $(this).append(newbutton2); //Only
    show if apply button is there var shareDiv=document.createElement('div');
    shareDiv.style.marginTop='10px' ;
    shareDiv.classList='sharethis-inline-share-buttons' ; if
    ($(this).children('button').length !=0) $(this).append(shareDiv); }); }
    $('#pagebody form div.text-center').each(function() { }); //Hide Pitch if No
    Content if ($('#trip_pitch').text()==String.fromCharCode(160) &&
    !VIDEO_LINK) { $('#trip-pitch-side').hide(); $('#trip-fact-side').css({
    float: 'inherit' , margin: 'auto' });
    $('#trip-fact-side').toggleClass('col-sm-5 col-sm-8'); } //Hide Title if
    (!DISPLAY_TITLE) $('#pagebodycontent div.page-header h3.col-sm-10').html('
    '); //Show Smaller Buttons if (DISPLAY_PAY_SMALL) document.getElementById('
    donate-pay-button').style.display='inline-block' ; if
    (DISPLAY_LEARN_MORE_SMALL)
    document.getElementById('learn-more').style.display='inline-block' ; if
    (DISPLAY_APPLY_SMALL)
    document.getElementById('apply-now').style.display='inline-block' ; //Add
    Default Dates var startDate=new Date($('#pagebody div:nth-child(4)
    div.table-responsive table tbody tr:nth-child(2) td:nth-child(5)
    span').text()); var endDate=new Date($('#pagebody div:nth-child(4)
    div.table-responsive table tbody tr:nth-child(2) td:nth-child(6)
    span').text()); if (startDate !='Invalid Date' && endDate !='Invalid Date' )
    {
    document.getElementById('tripDates').innerHTML=startDate.toLocaleDateString('en-US',
    DATE_OPTIONS) + '-' + endDate.toLocaleDateString('en-US', DATE_OPTIONS); }
    //Hide Custom Date Container if Empty if
    (document.getElementById('tripDates').innerHTML=='&nbsp;' ) {
    $('#tripDates').css('display', 'none' ); } //Set Custom Button Link and
    Value if(CUSTOM_PAY_LINK)
    document.getElementById('donate-pay-button').dataset.href=CUSTOM_PAY_LINK;
    document.getElementById('donate-pay-button').innerHTML=CUSTOM_PAY_VALUE;
    //Set Link if Available for (var id in BUTTON_LINKS) { if (BUTTON_LINKS[id]
    && id !='lm' ) { document.getElementById(id).setAttribute('href',
    '#brochure-links' ); } } //Add Title and Target to Links $('#brochure-links
    a').each(function() { if ($(this).attr('href')==null) {
    $(this).attr('title', 'Coming Soon' ); } }); // $('#pagebody form div
    button.btn.btn-primary').attr('data-href', 'https://slv.global/' ); //
    $('#pagebody form div button.btn.btn-primary').attr('onclick',
    'navigate(this)' ); }); "
/>
      <meta
      property=" og:description"
      content=" // INSTRUCTIONS // + Use single
    quotes when adding strings or urls // + If adding numbers or ids, single
    quotes are not necessary // + If you want to add custom lines to the 2
    tables, follow the examples given (also see PAYMENT_DEADLINES) // + For most
    of these, a simple change from false to true or true to false works // +
    Read the instructions next to each parameter to know what it does and how to
    change it var TRAVEL_RESOURCES = false; //change from false to a pdf url in
    single quotes var TRIP_OVERVIEW = false; //change from false to a pdf url in
    single quotes var TRAVEL_SAFETY = false; //change from false to a pdf url in
    single quotes var TRAVELER_CHECKLIST = false; //change from false to a pdf
    url in single quotes var FLIGHT_ITINERARY = false; //change from false to a
    pdf url in single quotes (this is organization on LU Serve) var
    PACKING_GUIDE = false; //change from false to a pdf url in single quotes var
    HEADER_IMAGE_ID = false; //change from false to an id for a custom header
    image var BODY_IMAGE_ID = false; //change from false to an id for a custom
    body image var DISPLAY_TITLE = true; //change from true to false to hide the
    title var DISPLAY_LEARN_MORE = true; //change from true to false to hide the
    learn more button var DISPLAY_LEARN_MORE_SMALL = false; //change from false
    to true to show the pitch learn more button var DISPLAY_APPLY_SMALL = false;
    //change from false to true to show the pitch apply button var
    DISPLAY_PAY_SMALL = false; //change from false to true to show the pitch pay
    button var CUSTOM_PAY_LINK = false; //change from false to a link for a
    custom payment link var CUSTOM_PAY_VALUE = 'Make a Payment'; //change the
    pay button text here var VIDEO_LINK = false; //change from false to a link
    for a custom video link var PAYMENT_DEADLINES = { //change any payment from
    false 'CQ Payment' : 'Due 14 Days After Acceptance', 'Deposit' : 'Due 14
    Days After Acceptance', 'Payment 1' : false, 'Payment 2' : false, 'Payment
    3' : false, 'Payment 4' : false, 'Payment 5' : false, 'Final Payment': false
    } var CUSTOM_TRIP_DETAILS = { //follow the example below, use commas for
    multiple entries // 'Age': '18+',
    #pagebodycontent>div.page-header>div>h3.col-sm-10>#brochure-title {
    position: absolute; color: #ffffff; left: 50%; top: 50%; min-width: 40%;
    max-width: 80%; transform: translate(-50%, -50%); padding: 15px; background:
    rgba(0, 0, 0, 0.65); border: 1px solid #ffffff; border-radius: 5px; }
    #pagebodycontentpageactions>div.hidden-sm.hidden-xs, /* Search Stuff */
    #pagebodycontentheader, /* Brochure Heading + Tips */
    #pagebodycontent>div.page-header>div>h3.col-sm-10>small, /* Small Descriptor
    */ #pagebodycontent>div.page-header>div>h3.col-sm-2, /* Program Buttons */
    #pagebodycontent>div.row, /* Location + Apply */
    #pagebodycontent>div.panel.panel-primary, /* Fact Sheet */
    #pagebody>div:nth-child(2)>div.panel-heading, /* Description Heading */
    #pagebody>div:nth-child(4) { /* Dates */ display: none; visibility: hidden;
    } #pagebodycontent>div.page-header>div>h3.col-sm-10 { /* Title */
    text-align: center; display: block; margin-left: auto; margin-right: auto;
    min-height: 200px; font-size: 20px; font-weight: bold; width: 90%; float:
    none; background-image:
    url('https://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=21698');
    -webkit-background-repeat: no-repeat; -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat; background-repeat: no-repeat;
    -webkit-background-position: center center; -moz-background-position: center
    center; -o-background-position: center center; background-position: center
    center; -webkit-background-size: cover; -moz-background-size: cover;
    -o-background-size: cover; background-size: cover; }
    #pagebodycontent>div.page-header { /* Remove margin from header */ margin:
    0; border-bottom: none; } #pagebody>div:nth-child(2) { /* Remove border */
    margin-bottom: -50px; margin-top: -20px; border: 0; }
    #pagebody>form>div>button { /* Style Buttons at the bottom */ display:
    inline-block; margin-top: 10px; padding: 10px 30px; font-size: 2em;
    font-weight: bold; border-radius: 5px; transition: all 0.3s ease 0s; }
    .videoWrapper { position: relative; display: block; padding-bottom: 400px;
    /* 16:9 */ padding-top: 25px; max-width: 800px; margin: auto; height: 0; }
    .videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%;
    height: 100%; max-height: 400px; } .buttonWrapper { display: block; width:
    auto; margin: auto; margin-top: 20px; } #donate-pay-button, #learn-more,
    #apply-now { display: none; } #myModalBody object { width: 100%; height:
    80vh; } button { margin-left: 5px; } .table { position: relative; }
    .table>tbody+tbody { border-top: 1px solid #ddd; } .table tr>th {
    background-color: #ccd9ec; cursor: pointer; } .table tr:nth-child(even)>td {
    background-color: #f2f7ff; } .table tr:nth-child(odd)>td { background-color:
    #fefeff; } .expand { display: inline-block; position: absolute; font-size:
    20px; cursor: pointer; top: 5px; right: 10px; } @media (min-width: 768px) {
    .modal-dialog { width: 90%; } } &nbsp; Utilizing the unique medium of
    international travel and walking where Jesus walked, RAs will be further
    developed in their leadership ability. By experiencing another culture, RAs
    will expand their global perspective, connecting the work Jesus began
    centuries ago with their work on our campus and in their future contexts. In
    this way, our RAs will gain inspiration and insight that will ensure
    faithfulness in the career, community, and church to which God has called
    them, wherever that may be. **Please note: You must be an RA to apply for
    this trip&nbsp; Application Deadline: March 15, 2022 (trip may fill before
    this date) Make a PaymentLearn MoreApply Trip Details + Payment Details +
    &nbsp;&nbsp; Travel Resources &nbsp;&nbsp; Trip Overview &nbsp;&nbsp; Travel
    Safety &nbsp;&nbsp; Traveler Checklist &nbsp;&nbsp; Flight Itinerary
    &nbsp;&nbsp; Packing Guide &nbsp; //Constants, Non-Editable var BUTTON_LINKS
    = { //simple enumarated values ' tr': TRAVEL_RESOURCES, 'to' :
    TRIP_OVERVIEW, 'ts' : TRAVEL_SAFETY, 'tc' : TRAVELER_CHECKLIST, 'fi' :
    FLIGHT_ITINERARY, 'pg' : PACKING_GUIDE, 'lm' :
    'https://liberty.co1.qualtrics.com/jfe/form/SV_9F5LbHhn4GDY0VT' //Learn More
    Link } var BUTTON_HIDE={ 'tr' : HIDE_TRAVEL_RESOURCES, 'to' :
    HIDE_TRIP_OVERVIEW, 'ts' : HIDE_TRAVEL_SAFETY, 'tc' :
    HIDE_TRAVELER_CHECKLIST, 'fi' : HIDE_FLIGHT_ITINERARY, 'pg' :
    HIDE_PACKING_GUIDE, 'group4' : HIDE_BODY, 'payment_table' : HIDE_PAYMENTS,
    'facts_table' : HIDE_TRIP_DETAILS } var BACKGROUND_IMAGES={ //name of title
    world or location with image id 'australia' : '32500' , 'africa' : '24751' ,
    'albania' : '21716' , 'alaska' : '24329' , 'austria' : '24652' , 'atlanta' :
    '23896' , 'asheville' : '23895' , 'bahamas' : '29801' , 'bangladesh' :
    '26367' , 'basketball' : '32249' , 'bgea' : '26365' , 'bosnia' : '25386' ,
    'brazil' : '21777' , 'bulgaria' : '30469' , 'cambodia' : '21750' , 'china' :
    '21751' , 'charlotte' : '26365' , 'colombia' : '24752' , 'costa rica' :
    '21752' , 'croatia' : '32801' , 'curacao' :'30282', 'denmark' : '25390' ,
    'domestic' : '21753' , 'dominican republic' : '21754' , 'ecuador' : '29803'
    , 'england' : '21756' , 'europe' : '21757' , 'ethnos360' : '21769' ,
    'finland' : '22416' , 'france' : '22789' , 'germany' : '21758' , 'greece' :
    '21759' , 'growing entrepreneurs international' : '21776' , 'guatemala' :
    '21761' , 'haiti' : '21778' , 'hockey' : '22415' , 'honduras' : '22790' ,
    'india' : '21762' , 'ireland' : '21763' , 'italy' : '21757' , 'iceland' :
    '25378' , 'israel' : '21764' , 'jordan' : '23903' , 'jamaica' : '21765' ,
    'japan' : '21766' , 'jerusalem' : '26169' , 'kenya' : '21767' , 'kosovo' :
    '22791' , 'los angeles' : '25388' , 'lucom' : '26408' , 'malaysia' : '29004'
    , 'mexico' : '21822' , 'nepal' : '21781' , 'new york city' : '29086' ,
    'nicaragua' : '21796' , 'northern ireland' : '21768' , 'oberammergau' :
    '21758' , 'ohio' : '29820' , 'orlando' : '33253' , 'panama' : '33101' ,
    'papua new guinea' : '21769' , 'peru' : '30440' , 'philadelphia' : '24156' ,
    'portugal' : '21770' , 'poland' : '25379' , 'romania' : '21771' , 'rwanda' :
    '21772' , 'scandinavia' : '22416' , 'slovenia' : '30499' , 'slv' : '26168' ,
    'spain' : '21774' , 'south korea' : '21773' , 'swaziland' : '26368' ,
    'sweden' : '29006' , 'switzerland' : '21775' , 'tanzania' : '23902' , 'ten2'
    : '24665' , 'thailand' : '21776' , 'togo' : '25377' , 'turkey' : '25391' ,
    'united kingdom' : '21756' , 'united states' : '25387' , 'washington dc' :
    '25387' , }; var TRIP_DETAIL_PARAMETERS=[ //parameters that will appear
    under trip details '11029' , //Term '11034' , //School '11035' ,
    //Department '11010' , //Course options '11036' , //Durations ]; var
    PAYMENT_PARAMETERS=[ //parameters that will appear under payment details
    '11032' , //CQ Assessment '11019' , //Deposit '11020' , //Payment 1 '11021'
    , //Payment 2 '11022' , //Payment 3 '11023' , //Payment 4 '11024' ,
    //Payment 5 '11025' //Final Payment ]; var DATE_OPTIONS={ //Options for
    Dates weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric' };
    function navigate(button) { //allows buttons to work as links var
    link=button.dataset.href; window.open(link, '_blank' ); } function
    navigateSelf(button) { var link=button.dataset.href; window.open(link,
    '_self' ); } function encodeSearchValue(value) { //encode search value for
    link return value.replace(/&/g, 'and' ); } function createModal(id) {
    //create modals that allow display of pdfs var currentnode=BUTTON_LINKS[id];
    if (currentnode) { if (id !='lm' ) currentnode +='#page=1&view=FitH' ; else
    currentnode +='?Trip=' + encodeSearchValue($('#pagebodycontent
    div.page-header h3.col-sm-10').text().match(/^(.*)$/m)[0]);
    currentnode=encodeURI(currentnode);
    document.getElementById('myModalBody').innerHTML='' ; var
    newobject=document.createElement('object'); newobject.setAttribute('data',
    currentnode); var newiframe=document.createElement('iframe');
    newiframe.setAttribute('src', currentnode); newiframe.innerHTML='This
    browser does not support PDFs. Please download the PDF to view it: ' ; var
    newa=document.createElement('a'); newa.setAttribute('href', currentnode);
    newiframe.appendChild(newa); newobject.appendChild(newiframe);
    document.getElementById('myModalBody').appendChild(newobject);
    $('#myModal').modal(); } } function checkParameter(element) { //get
    parameter information var parameter={}; var titleElement=$('[id^=h_' +
    element + ']' ); var contentElement=$('[id^=id_' + element + ']' ); if
    (titleElement.length) { //parameter is set
    parameter.title=$.trim(titleElement.text()).slice(0, -1) + '' ;
    parameter.content=$.trim(contentElement.text()) + '' ;
    parameter.date=PAYMENT_DEADLINES.hasOwnProperty(parameter.title) ?
    PAYMENT_DEADLINES[parameter.title] ? PAYMENT_DEADLINES[parameter.title] : ''
    : '' ; return parameter; } else { //parameter not set return false; } }
    function expandTable(id) { //allow tables to expand onclick $('#' +
    id).siblings('tr').fadeToggle(500); } function setHeaderBody(imageID) {
    //set image header and body var imageID1=HEADER_IMAGE_ID ? HEADER_IMAGE_ID :
    imageID; var imageID2=BODY_IMAGE_ID ? BODY_IMAGE_ID : imageID;
    $('#pagebodycontent div.page-header div
    h3.col-sm-10').css('background-image',
    'url(https://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=' +
    imageID1 + ')' ); $('#group4').css('background-image',
    'url(https://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=' +
    imageID2 + ')' ); } $(document).ready(function() { //Add Parameters to Trip
    Details Table $(TRIP_DETAIL_PARAMETERS).each(function() { var
    parameter=checkParameter(this); if (parameter) {
    $('#facts_table').find('tbody').append('\n' + parameter.title + '' +
    parameter.content + '' ); } }); //Add Custom Values to Trip Details Table
    for(var i in CUSTOM_TRIP_DETAILS) {
    $('#facts_table').find('tbody').append('\n' + i + '' +
    CUSTOM_TRIP_DETAILS[i] + '' ); } //Add Locations to Trip Details Table var
    locations=[]; $('#pagebodycontent div.row div.col-sm-8.col-lg-9 ul
    li:nth-child(1)').find('span').each(function() {
    locations.push($(this).text()); }); locations=locations.map(function(cur, i,
    arr) { if (i + 1===arr.length) return cur; else return ' ' + cur.slice(0,
    -1) + ' | ' ; }).join('');
    $('#facts_table').find('tbody').append('\nLocations' + locations + '' );
    //ADD Parameters to Payment Details Table var total=0; var tbd=false;
    $(PAYMENT_PARAMETERS).each(function() { var parameter=checkParameter(this);
    if (parameter) { if (!Number(parameter.content)) tbd=true; else total
    +=Number(parameter.content); parameter.content=Number(parameter.content) ?
    '$' + parameter.content + '.00' : parameter.content;
    $('#payment_table').find('tbody').append('\n' + parameter.title + '' +
    parameter.content + '' + parameter.date + '' ); } }); //Add Custom Payments
    to Payment Details Table for(var i in CUSTOM_PAYMENTS) { var
    value=CUSTOM_PAYMENTS[i][0]; if (!Number(value)) tbd=true; else total
    +=Number(value); value=Number(value) ? '$' + value + '.00' : value;
    $('#payment_table').find('tbody').append('\n' + i + '' + value + '' +
    CUSTOM_PAYMENTS[i][1] + '' ) } //Add Total to Payment Details Table
    total=tbd ? 'TBD' : total ? '$' + total.toFixed(2) : 'Payment Information
    Coming Soon' ; $('#payment_table').find('tbody').append('\n' + 'Total:' + ''
    + total + '' ); //Hide Tables and/or Body and/or Buttons for(var i in
    BUTTON_HIDE) { if(BUTTON_HIDE[i]) $('#' + i).hide(); } if(HIDE_PAYMENTS &&
    HIDE_TRIP_DETAILS){ $('#trip-fact-side').hide();
    $('#trip-pitch-side').removeClass('col-sm-7');
    $('#trip-pitch-side').addClass('col-sm-12'); } //Grab Title and Style It var
    title=$('#pagebodycontent div.page-header
    h3.col-sm-10').text().match(/^(.*)$/m)[0].replace('LU Send - ',
    '').replace(' LU Send Domestic - ', ''); $(' #pagebodycontent
    div.page-header div h3.col-sm-10').html('' + title + '' ); //Change Flight
    Itinerary to Organization if LU Serve if (title.toLowerCase().indexOf('lu
    serve - ') != -1) { $(' #flightororg').text('Organization'); } //Add Video
    if Link is Available if (VIDEO_LINK) {
    VIDEO_LINK=VIDEO_LINK.replace('watch?v=', ' embed/'); $('.videoWrapper
    iframe').attr('src', VIDEO_LINK); } else { $('.videoWrapper').hide(); }
    //Add the Default Header and Body Images var locationPictureBackUp=false;
    for (var i in BACKGROUND_IMAGES) { if (title.toLowerCase().indexOf(i) !=-1)
    { setHeaderBody(BACKGROUND_IMAGES[i]); locationPictureBackUp=false; break; }
    else if(locations.toLowerCase().indexOf(i) !=-1) {
    locationPictureBackUp=BACKGROUND_IMAGES[i]; } } if(locationPictureBackUp)
    setHeaderBody(locationPictureBackUp); //Add Learn More Button
    if(DISPLAY_LEARN_MORE) { $('#pagebody form div.text-center').each(function()
    { var space=document.createElement('BR'); if
    ($(this).children('button').length !=0) $(this).append(space); var
    newbutton=document.createElement('button'); newbutton.innerHTML='Learn More'
    ; newbutton.setAttribute('class', 'btn btn-secondary' );
    newbutton.setAttribute('type', 'button' ); newbutton.setAttribute('onclick',
    'createModal('lm')' ); if ($(this).children('button').length !=0)
    $(this).append(newbutton); //Only show if apply button is there var
    newbutton2=document.createElement('button'); newbutton2.innerHTML='Already
    Applied?' ; newbutton2.setAttribute('class', 'btn btn-secondary' );
    newbutton2.setAttribute('type', 'button' );
    newbutton2.dataset.href='/index.cfm?FuseAction=Security.LoginWizardStepOne'
    ; newbutton2.setAttribute('onclick', 'navigateSelf(this)' ); if
    ($(this).children('button').length !=0) $(this).append(newbutton2); //Only
    show if apply button is there var shareDiv=document.createElement('div');
    shareDiv.style.marginTop='10px' ;
    shareDiv.classList='sharethis-inline-share-buttons' ; if
    ($(this).children('button').length !=0) $(this).append(shareDiv); }); }
    $('#pagebody form div.text-center').each(function() { }); //Hide Pitch if No
    Content if ($('#trip_pitch').text()==String.fromCharCode(160) &&
    !VIDEO_LINK) { $('#trip-pitch-side').hide(); $('#trip-fact-side').css({
    float: 'inherit' , margin: 'auto' });
    $('#trip-fact-side').toggleClass('col-sm-5 col-sm-8'); } //Hide Title if
    (!DISPLAY_TITLE) $('#pagebodycontent div.page-header h3.col-sm-10').html('
    '); //Show Smaller Buttons if (DISPLAY_PAY_SMALL) document.getElementById('
    donate-pay-button').style.display='inline-block' ; if
    (DISPLAY_LEARN_MORE_SMALL)
    document.getElementById('learn-more').style.display='inline-block' ; if
    (DISPLAY_APPLY_SMALL)
    document.getElementById('apply-now').style.display='inline-block' ; //Add
    Default Dates var startDate=new Date($('#pagebody div:nth-child(4)
    div.table-responsive table tbody tr:nth-child(2) td:nth-child(5)
    span').text()); var endDate=new Date($('#pagebody div:nth-child(4)
    div.table-responsive table tbody tr:nth-child(2) td:nth-child(6)
    span').text()); if (startDate !='Invalid Date' && endDate !='Invalid Date' )
    {
    document.getElementById('tripDates').innerHTML=startDate.toLocaleDateString('en-US',
    DATE_OPTIONS) + '-' + endDate.toLocaleDateString('en-US', DATE_OPTIONS); }
    //Hide Custom Date Container if Empty if
    (document.getElementById('tripDates').innerHTML=='&nbsp;' ) {
    $('#tripDates').css('display', 'none' ); } //Set Custom Button Link and
    Value if(CUSTOM_PAY_LINK)
    document.getElementById('donate-pay-button').dataset.href=CUSTOM_PAY_LINK;
    document.getElementById('donate-pay-button').innerHTML=CUSTOM_PAY_VALUE;
    //Set Link if Available for (var id in BUTTON_LINKS) { if (BUTTON_LINKS[id]
    && id !='lm' ) { document.getElementById(id).setAttribute('href',
    '#brochure-links' ); } } //Add Title and Target to Links $('#brochure-links
    a').each(function() { if ($(this).attr('href')==null) {
    $(this).attr('title', 'Coming Soon' ); } }); // $('#pagebody form div
    button.btn.btn-primary').attr('data-href', 'https://slv.global/' ); //
    $('#pagebody form div button.btn.btn-primary').attr('onclick',
    'navigate(this)' ); }); "
/>
    </head>
    <body>
      <a
      href=" #tds_content_start"
      class="sr-only sr-only-focusable"
      id="skiptocontent"
      >Skip to content</a
    >
      <div id="loading" style="display: none">Loading...</div>
      <noscript>
        <p class="alert alert-danger">
          <strong
          >Your browser does not support JavaScript, or it is currently
          disabled. This site requires JavaScript support to run
          properly.</strong
        >
        </p>
      </noscript>
      <a id="top"></a>

      <header id="pageheader">
        <div align="center">
          <a
          href="https://liberty-sa.terradotta.com/"
          title="LU Send - Liberty University"
          ><img
            src="https://liberty-sa.terradotta.com/accounts/EC9E27DA82CA03423EC74CA93EC641B1/themes/stockassets/Capture.PNG"
            class="img-responsive"
            alt="LU Send - Liberty University"
/></a>
        </div>
      </header>

      <div id="pagenav-wrapper">
        <nav id="pagenav" class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <div class="visible-xs fullname-xs">
                <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#top-navbar"
                aria-expanded="false"
              >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
            </div>
            <div class="collapse navbar-collapse" id="top-navbar">
              <ul class="nav navbar-nav navbar-left">
                <li>
                  <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.Home"
                  >
                    <i class="fa fa-lg fa-home"
                    >
                      <span class="sr-only">Site home</span></i
                  >
                  </a
                >
                </li>

                <li>
                  <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Programs.Home"
                  >Programs</a
                >
                </li>

                <li>
                  <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=StaffMain.Home"
                  >Staff</a
                >
                </li>

                <li>
                  <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Programs.ViewDeadlines"
                  >Deadlines</a
                >
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Security.AngLogin"
                  >LOGIN</a
                >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <main id="pagebody" class="container">
        <div class="row">
          <div id="pagebodysidebar">
            <ul class="sidebar-nav dropdown-menu hidden-sm hidden-xs" role="menu">
              <li>
                <a
                href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=B69276AB-5056-BA1F-72F267BAC4965C91"
                role="menuitem"
                class="nav-option"
                >Short Term International Trips</a
              >
              </li>

              <li>
                <a
                href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=6B422487-5056-BA1F-71B651CF2B6CDF4E"
                role="menuitem"
                class="nav-option"
                >LU Send Now</a
              >
              </li>

              <li class="dropdown-submenu">
                <a
                href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=73C78974-5056-BA21-D7E93DE562E89AC2"
                role="menuitem"
                class="nav-option"
                >Faculty/Staff Gateway</a
              >
                <ul class="dropdown-menu">
                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=73C78974-5056-BA21-D7E93DE562E89AC2&amp;Link_ID=39C29F41-EF4F-2114-5C31755E86707BA9"
                    role="menuitem"
                    class="nav-option"
                    >Faculty Gateway - International Travel</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=73C78974-5056-BA21-D7E93DE562E89AC2&amp;Link_ID=39BEC967-F4E8-B469-30D5FC4BFFAE4D24"
                    role="menuitem"
                    class="nav-option"
                    >Faculty Gateway - Domestic Travel</a
                  >
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a
                href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA"
                role="menuitem"
                class="nav-option"
                >Study Abroad</a
              >
                <ul class="dropdown-menu">
                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B32D84A-5056-BA21-D7168B0A82DCB0DF"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Getting Started & Advising</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B3FAED0-5056-BA21-D7BC9BF8D3D9AA41"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Program Process</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B5E85CB-5056-BA21-D7AC6A4D3CC819D6"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Signature Programs</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B6CFD67-5056-BA21-D7FDEE246A16DCB9"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - International Internships</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B94C329-5056-BA21-D72ECAF18A36AD4B"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Custom Programs</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3BBB813C-5056-BA2E-6F7309A4BAE0348F"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Policies & Guidelines</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3BC1C7C7-5056-BA2E-6F9685DC580CB39C"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - FAQ</a
                  >
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a
                href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=0CB305D3-5056-BA2E-6F7BE8A466720122"
                role="menuitem"
                class="nav-option"
                >G5</a
              >
                <ul class="dropdown-menu">
                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0CB305D3-5056-BA2E-6F7BE8A466720122&amp;Link_ID=E4194D9A-5056-BA21-D7A3784893E2B2AC"
                    role="menuitem"
                    class="nav-option"
                    >G5 - Trips</a
                  >
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a
                href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=A71C672A-5056-BA2E-6FF2B5A890C4D306"
                role="menuitem"
                class="nav-option"
                >LU Serve</a
              >
                <ul class="dropdown-menu">
                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=A71C672A-5056-BA2E-6FF2B5A890C4D306&amp;Link_ID=44D325BE-9A2D-7DCA-FA8E64A6770B6892"
                    role="menuitem"
                    class="nav-option"
                    >LU Serve - Map</a
                  >
                  </li>
                </ul>
              </li>

              <li>
                <a
                href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=D65C5D0F-A88E-5EFF-0F217207CA791725"
                role="menuitem"
                class="nav-option"
                >Update Program Parameters</a
              >
              </li>

              <li>
                <a
                href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=C39C30B0-AC2C-B711-CE82F95B46F0EB04"
                role="menuitem"
                class="nav-option"
                >Test</a
              >
              </li>
            </ul>
            <div class="mobilesite-nav visible-sm visible-xs">
              <div class="dropdown">
                <button
                class="btn btn-default btn-block dropdown-toggle"
                type="button"
                id="sitelinks"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                Site links <span class="caret"></span>
                </button>
                <ul class="dropdown-menu btn-block" aria-labelledby="sitelinks">
                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=B69276AB-5056-BA1F-72F267BAC4965C91"
                    >Short Term International Trips</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=6B422487-5056-BA1F-71B651CF2B6CDF4E"
                    >LU Send Now</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=73C78974-5056-BA21-D7E93DE562E89AC2"
                    >Faculty/Staff Gateway</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=73C78974-5056-BA21-D7E93DE562E89AC2&amp;Link_ID=39C29F41-EF4F-2114-5C31755E86707BA9"
                    >&nbsp;&nbsp;Faculty Gateway - International Travel</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=73C78974-5056-BA21-D7E93DE562E89AC2&amp;Link_ID=39BEC967-F4E8-B469-30D5FC4BFFAE4D24"
                    >&nbsp;&nbsp;Faculty Gateway - Domestic Travel</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA"
                    >Study Abroad</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B32D84A-5056-BA21-D7168B0A82DCB0DF"
                    >&nbsp;&nbsp;LU Send Study Abroad - Getting Started &
                    Advising</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B3FAED0-5056-BA21-D7BC9BF8D3D9AA41"
                    >&nbsp;&nbsp;LU Send Study Abroad - Program Process</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B5E85CB-5056-BA21-D7AC6A4D3CC819D6"
                    >&nbsp;&nbsp;LU Send Study Abroad - Signature Programs</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B6CFD67-5056-BA21-D7FDEE246A16DCB9"
                    >&nbsp;&nbsp;LU Send Study Abroad - International
                    Internships</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B94C329-5056-BA21-D72ECAF18A36AD4B"
                    >&nbsp;&nbsp;LU Send Study Abroad - Custom Programs</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3BBB813C-5056-BA2E-6F7309A4BAE0348F"
                    >&nbsp;&nbsp;LU Send Study Abroad - Policies & Guidelines</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3BC1C7C7-5056-BA2E-6F9685DC580CB39C"
                    >&nbsp;&nbsp;LU Send Study Abroad - FAQ</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=0CB305D3-5056-BA2E-6F7BE8A466720122"
                    >G5</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0CB305D3-5056-BA2E-6F7BE8A466720122&amp;Link_ID=E4194D9A-5056-BA21-D7A3784893E2B2AC"
                    >&nbsp;&nbsp;G5 - Trips</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=A71C672A-5056-BA2E-6FF2B5A890C4D306"
                    >LU Serve</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=A71C672A-5056-BA2E-6FF2B5A890C4D306&amp;Link_ID=44D325BE-9A2D-7DCA-FA8E64A6770B6892"
                    >&nbsp;&nbsp;LU Serve - Map</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=D65C5D0F-A88E-5EFF-0F217207CA791725"
                    >Update Program Parameters</a
                  >
                  </li>

                  <li>
                    <a
                    href="index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=C39C30B0-AC2C-B711-CE82F95B46F0EB04"
                    >Test</a
                  >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="pagebodycontent" class="page-content public-page-content">
            <a id="tds_content_start"></a>
            <div id="pagebodycontentheader">
              <div class="pull-right" id="pagebodycontentpageactions">
                <div>
                &nbsp;<a
                  class="btn btn-primary"
                  href="index.cfm?FuseAction=Programs.SimpleSearch"
                  title="Simple Search"
                  >Simple Search</a
                >
                </div>
              </div>

              <h2>Programs : Brochure</h2>
              <div
              id="page-tips"
              class="clearfix well well-sm well-dismissible"
              style="display: block"
              tabindex="0"
            >
                <button
                type="button"
                class="close"
                data-dismiss="info"
                aria-label="Close Announcement"
                onclick="toggleTips(); $('#header-tips-container').slideToggle(); $('#TipChk').toggleClass('unchecked checked');if($('#TipChk').hasClass('checked')){$('#tipShowText').text('Show Tips');$('#TipChk').attr({alt : 'Show Tips',title : 'Show Tips'});$('#tip-msg-link').attr('title','Show Tips');} else if($('#TipChk').hasClass('unchecked')){$('#tipShowText').text('Hide Tips');$('#TipChk').attr({alt : 'Hide Tips',title : 'Hide Tips'});$('#tip-msg-link').attr('title','Hide Tips');};"
              >
                  <span aria-hidden="true">&times;</span>
                </button>
              This page is the brochure for your selected program. You can view
              the provided information for this program on this page and click
              on the available buttons for additional options.
            </div>
            </div>
            <div id="sa_content">
              <a id="sa_content_start"></a>
            </div>

            <div class="page-header">
              <div class="row">
                <h3 class="col-sm-10">
                LU Send - Israel - Residence Life - DuBose
                <small> (Outgoing Program) </small>
                </h3>

                <h3 class="col-sm-2">
                  <a href="#"
                  >
                    <i
                    alt="Print"
                    title="Print"
                    class="fa fa-lg fa-print fancybox2"
                    onclick=""
                    >
                      <span class="sr-only">Print</span></i
                  >
                  </a
                >&nbsp;
              </h3>
              </div>
            </div>

            <div
            align="center"
            class="PrintBox popup-panel-area"
            style="display: none"
            id="PrintTable1"
          >
              <div class="panel-body text-center">
                <div class="form-group col-xs-6 text-right">
                  <b>Output:</b>
                  <br/>
                  <input
                  type="radio"
                  name="DocType1"
                  id="Print_PDF1"
                  value="pdf"
                  checked="checked"
/>
                  <label for="Print_PDF1" class="weight-normal">PDF</label>
                  <br/>
                  <input
                  type="radio"
                  name="DocType1"
                  id="Print_HTML1"
                  value="html"
/>
                  <label for="Print_HTML1" class="weight-normal">HTML</label>
                </div>
                <div class="form-group col-xs-6 text-left">
                  <b>Orientation:</b>
                  <br/>
                  <input
                  type="radio"
                  name="Print_Orientation1"
                  id="Print_Portrait1"
                  value="Portrait"
                  checked="checked"
/>
                  <label for="Print_Portrait1" class="weight-normal"
                  >Portrait</label
                >
                  <br/>
                  <input
                  type="radio"
                  name="Print_Orientation1"
                  id="Print_Landscape1"
                  value="Landscape"
/>
                  <label for="Print_Landscape1" class="weight-normal"
                  >Landscape</label
                >
                </div>
                <div class="form-group col-xs-12">
                  <button
                  type="button"
                  class="btn btn-primary"
                  onclick="printSpecial(1,'')"
                >
                  Print
                </button>
                &nbsp;
                <a href="javascript:void(0);" onclick="$.fancybox.close();"
                  >Cancel</a
                >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-8 col-lg-9">
                <ul class="list-group">
                  <li class="list-group-item">
                    <b>Locations:</b>

                    <span>Abu Ghosh, Israel;</span>

                    <span>Bethlehem, Israel;</span>

                    <span>Capernaum, Israel;</span>

                    <span>Dead Sea, Israel;</span>

                    <span>Jericho, Israel;</span>

                    <span>Jerusalem, Israel;</span>

                    <span>Nazareth, Israel;</span>

                    <span>Qumran National Park, Israel;</span>

                    <span>Tel-Aviv, Israel;</span>

                    <span>Tiberias, Israel</span>
                  </li>

                  <li class="list-group-item">
                    <strong>Program Terms:</strong>

                    <span class="nobr">Summer (May - Jun)</span>
                  </li>

                  <li class="list-group-item text-center">
                    <a
                    href="javascript:void(0);"
                    onclick="var elmnt=document.getElementById('Dates');elmnt.scrollIntoView();"
                    title="Click here to jump to program dates and deadlines"
                    >Dates / Deadlines</a
                  >
                  </li>
                </ul>
              </div>
              <div class="col-sm-4 col-lg-3">
                <form
                method="post"
                action="index.cfm?FuseAction=Programs.InfoRequest"
              >
                  <ul class="list-group text-center">
                    <li class="list-group-item">
                      <button
                      type="button"
                      class="btn btn-primary btn-block"
                      onclick="ApplyNow();"
                    >
                      Apply Now
                    </button>
                    </li>

                    <li class="list-group-item">
                      <button type="submit" class="btn btn-primary btn-block">
                      Request Info
                    </button>
                    </li>
                  </ul>
                  <input type="hidden" name="Program_ID" value="12287"/>
                  <input
                  type="hidden"
                  name="token"
                  value="E1849367179812B306862E7220714BF4C4F5651E"
/>
                </form>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">Fact Sheet:</div>

              <div class="table-responsive">
                <table
                class="
                  table table-condensed table-bordered table-striped
                  data-table
                "
                aria-label="Fact Sheet:"
              >
                  <caption class="sr-only">
                  Fact Sheet:
                </caption>

                  <tr>
                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11045_0"
                  >
                    Program Identifier:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11045_0"
                    headers="h_11045_0"
                  >
                    12287
                  </td>

                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11009_1"
                  >
                    LU Send Map:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11009_1"
                    headers="h_11009_1"
                  >
                    Faculty-Led Programs
                  </td>
                  </tr>
                  <tr>
                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11034_2"
                  >
                    Schools:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11034_2"
                    headers="h_11034_2"
                  >
                    Office of Residence Life
                  </td>

                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11029_3"
                  >
                    Terms:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11029_3"
                    headers="h_11029_3"
                  >
                    Summer
                  </td>
                  </tr>
                  <tr>
                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11037_4"
                  >
                    International:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11037_4"
                    headers="h_11037_4"
                  >
                    YES
                  </td>

                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11038_5"
                  >
                    Program Type:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11038_5"
                    headers="h_11038_5"
                  >
                    Faculty Led
                  </td>
                  </tr>
                  <tr>
                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11039_6"
                  >
                    Program Provider:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11039_6"
                    headers="h_11039_6"
                  >
                    LU Send
                  </td>

                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11032_7"
                  >
                    CQ Payment:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11032_7"
                    headers="h_11032_7"
                  >
                    29
                  </td>
                  </tr>
                  <tr>
                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11019_8"
                  >
                    Deposit:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11019_8"
                    headers="h_11019_8"
                  >
                    250
                  </td>

                    <th
                    valign="top"
                    align="right"
                    width="28%"
                    class="no-right-bdr td2th"
                    id="h_11044_9"
                  >
                    Signature Documents:
                  </th>
                    <td
                    valign="top"
                    style="padding-right: 10px"
                    class="no-right-bdr"
                    id="id_11044_9"
                    headers="h_11044_9"
                  >
                    COVID-19 Testing Requirements & Potential Quarantine
                    Information, LU Send Assumption of Risk - COVID-19 Addendum
                    (International)
                  </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Program Description:</div>

          <div class="panel-body">
            {% display "settings" %}

            <style>
              {% for style in styles %}
                {% include style + ".css" ignore missing %}
              {% endfor %}
            </style>

            <h1>{{ title }}</h1>

            {{content | safe}}

            <script>
              {% for script in scripts %}
                {% include script + ".js" ignore missing %}
              {% endfor %}
            </script>
          </div>
        </div>

        <a id="Dates" name="DATES"></a>

        <div class="panel panel-primary">
          <div class="panel-heading">Dates / Deadlines:</div>

          <div class="table-responsive">
            <table
            class="
              table table-condensed table-bordered table-striped
              data-table
            "
            aria-label="Dates / Deadlines:"
          >
              <caption class="sr-only">
              Dates / Deadlines:
            </caption>

              <tr>
                <th scope="col" id="h_1">
                  <span>Term</span>
                </th>
                <th scope="col" id="h_2">
                  <span>Year</span>
                </th>

                <th scope="col" id="h_3">
                  <span>App Deadline</span>
                </th>

                <th scope="col" id="h_4">
                  <span>Decision Date</span>
                </th>

                <th scope="col" id="h_5">
                  <span>Start Date</span>
                </th>
                <th scope="col" id="h_6">
                  <span>End Date</span>
                </th>
              </tr>

              <tr>
                <td headers="h_1">
                  <span class="Small">Summer (May - Jun)</span>
                </td>
                <td headers="h_2">
                  <span class="Small"> 2022 </span>
                </td>

                <td headers="h_3">
                  <span class="Small"> 01/15/2022 ** </span>
                </td>

                <td headers="h_4">
                  <span class="Small"> Rolling Admission </span>
                </td>

                <td headers="h_5">
                  <span class="Small"> 05/08/2022 </span>
                </td>
                <td headers="h_6">
                  <span class="Small"> 05/18/2022 </span>
                </td>
              </tr>

              <tr>
                <td colspan="6">
                  <br/>
                  <span class="yesbr"
                  >** Indicates rolling admission application process.
                  Applicants will be immediately notified of acceptance into
                  this program and be able to complete post-decision materials
                  prior to the term's application deadline.</span
                >
                </td>
              </tr>
            </table>
          </div>
        </div>

        <form
        method="post"
        action="index.cfm?FuseAction=Programs.InfoRequest"
        style="margin-top: 50px"
      >
          <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="ApplyNow();">
            Apply Now
          </button>
            <button type="submit" name="btnSubmit" class="btn btn-primary">
            Request Info
          </button>
          </div>
          <input type="hidden" name="Program_ID" value="12287"/>
          <input
          type="hidden"
          name="token"
          value="E1849367179812B306862E7220714BF4C4F5651E"
/>
        </form>
        <br/>

        <script language="JavaScript" type="text/javascript">
          function openPrint(uri) {
            var newWindow = window.open(uri, "PrintWindow")
            newWindow.focus()
          }
          function printSpecial(id, frm) {
            var printOrientation = "landscape"
            var DocType
            var objOrientation = document.getElementById("Print_Portrait" + id)
            if (objOrientation) {
              if (objOrientation.checked) {
                printOrientation = "portrait"
              }
              if (document.getElementById("Print_PDF" + id).checked) {
                if (frm != "") {
                  document
                    .forms[frm]
                    .target = "_blank"
                  document
                    .forms[frm]
                    .action = "index.cfm?FuseAction=Programs.ViewProgram&Program_ID=12287&DocType=pdf&orientation=" + printOrientation
                } else {
                  openPrint("index.cfm?FuseAction=Programs.ViewProgram&Program_ID=12287&DocType=pdf&orientation=" + printOrientation)
                }
              } else {
                if (frm != "") {
                  document
                    .forms[frm]
                    .target = "_blank"
                  document
                    .forms[frm]
                    .action = "index.cfm?FuseAction=Programs.ViewProgram&Program_ID=12287&DocType=html&orientation=" + printOrientation
                } else {
                  openPrint("index.cfm?FuseAction=Programs.ViewProgram&Program_ID=12287&DocType=html&orientation=" + printOrientation)
                }
              }
            }
            if (frm != "") {
              document
                .forms[frm]
                .submit()
            }
          }
        </script>

        <div id="PopupPanelshare" class="popup-panel-area" style="display: none">
          <form name="formShareProgram" method="post" action="">
            <input type="hidden" name="saved_pgm_id" id="saved_pgm_id"/>
            <input type="hidden" name="saved_pgm_name" id="saved_pgm_name"/>
            <div class="panel panel-primary">
              <div class="panel-heading">Share This Program</div>
              <div class="panel-body">
                <div class="col-md-6">
                  <h4>Share brochure link:</h4>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                  </div>
                </div>
              </div>
              <div class="panel-footer text-center">
                <button
                type="Button"
                onclick="$.fancybox.close();"
                class="btn btn-primary"
              >
                Close
              </button>
              </div>
            </div>
          </form>
        </div>

        <script language="JavaScript" type="text/javascript">
          //SETTING UP OUR POPUP
          //0 means disabled; 1 means enabled;
          $(".fancybox1").fancybox({
            type: "inline",
            // 'type':'iframe',
            title: "",
            href: "#PopupPanelshare",
            autoSize: false,
            height: "auto",
            width: "600px"
          })

          $(".fancybox2").fancybox({
            type: "inline",
            // 'type':'iframe',
            title: "",
            href: "#PrintTable1",
            autoSize: false,
            height: "auto",
            width: "325px"
          })
        </script>

        <script language="JavaScript" type="text/javascript">
          //SETTING UP OUR POPUP
          //0 means disabled; 1 means enabled;
          //var popupStatus = 0;

          //loading popup with jQuery magic!
          function loadPopup(backgrounddiv, contentdiv) {
            //loads popup only if it is disabled
            if (popupStatus == 0) {
              $(backgrounddiv).css({opacity: "0.7"})
              $(backgrounddiv).css({display: "block", animationSpeed: 1200})
              $(contentdiv).css({display: "block", animationSpeed: 1200})
              document.body.style.overflow = "hidden"
              popupStatus = 1
            }
          }
          //disabling popup with jQuery magic!
          function disablePopup(backgrounddiv, contentdiv) {
            //disables popup only if it is enabled
            if (popupStatus == 1) {
              $(backgrounddiv).css({display: "none", animationSpeed: 1200})
              $(contentdiv).css({display: "none", animationSpeed: 1200})
              document.body.style.overflow = "scroll"
              popupStatus = 0
            }
          }
          //centering popup
          function centerPopup(contentdiv) {
            //request data for centering
            var windowWidth = document.documentElement.clientWidth
            var windowHeight = document.documentElement.clientHeight
            var popupHeight = $(contentdiv).height()
            var popupWidth = $(contentdiv).width()
            var scroll_top = $(document).scrollTop()
            //centering
            $(contentdiv).css({
              position: "absolute",
              top: scroll_top + windowHeight / 2 - popupHeight / 2,
              left: windowWidth / 2 - popupWidth / 2
            })
          }
          function loadPopup1(contentdiv) {
            //loads popup only if it is disabled
            $(contentdiv).css({display: "block", animationSpeed: 1200})
            popupStatus = 1
          }
          //disabling popup with jQuery magic!
          function disablePopup1(contentdiv) {
            //disables popup only if it is enabled
            if (popupStatus == 1) {
              $(contentdiv).css({display: "none", animationSpeed: 1200})
              popupStatus = 0
            }
          }
          //centering popup
          function centerPopup1(contentdiv, tp) {
            //request data for centering
            var popupHeight = $("#RatingPanel").height()
            var popupWidth = $("#RatingPanel").width()
            var position = $("#RatingPos").position() //Gets the td that holds stars
            var position1 = $("#RatingPanel").position() //Gets the table contains Ratings
            var move_left = $("#AppRating_" + tp).width()
            var move_top = $("#RatingPos").height()
            var rating_popup_left = position.left + move_left
            var rating_popup_top = ""
            if (tp == 1) {
              rating_popup_top = position1.top
            } else {
              rating_popup_top = position1.top + move_top * tp
            }
            //centering
            $(contentdiv).css({position: "absolute", top: rating_popup_top, left: rating_popup_left})
          }
          function open_new_window(tp) {
            //tp contains current row position
            document
              .getElementById("AppText_" + tp)
              .style
              .background = "#FFE1FF"
            document
              .getElementById("AppRating_" + tp)
              .style
              .background = "#FFE1FF"
            document
              .getElementById("frequency_div_" + tp)
              .style
              .display = "block"
            //centering with css
            centerPopup1("#RatingPopupPanel", tp)
            //load popup
            loadPopup1("#RatingPopupPanel")
          }
          function close_window(tp) {
            document
              .getElementById("AppText_" + tp)
              .style
              .background = ""
            document
              .getElementById("AppRating_" + tp)
              .style
              .background = ""
            document
              .getElementById("frequency_div_" + tp)
              .style
              .display = "none"
            disablePopup1("#RatingPopupPanel")
          }
          function ApplyNow() {
            var ok = confirm("You are about to create an application. Are you sure you wish to do this?")
            if (ok) {
              // Check for advising required for this program (valid for classic advising AND new advising program type)

              window.location = "index.cfm?FuseAction=Students.Apply&Program_ID=12287&RequiredProfile=1"
            } else {
              return false
            }
          }
          function RequestAdv() {
            var ok = confirm("You are beginning the advising process, which includes completing a short form that will take about two minutes and requesting an appointment. Would you like to continue?")
            if (ok) {
              window.location = "index.cfm?FuseAction=Applicants.EnterAdvising&Program_ID=12287"
            } else {
              return false
            }
          }

          function Savethis(pgmId) {
            var ok = confirm("You must be logged in to save a program of interest to your profile. Click 'OK' to login to or register with this site?")
            if (ok) {
              window.location = "index.cfm?FuseAction=Programs.SaveProgram&Program_ID=12287"
            } else {
              return false
            }
          }

          function ShareSavedProgram(PgmId, PgmName) {
            //alert("PgmId,PgmName = " + PgmId + ', ' + PgmName);
            document
              .getElementById("saved_pgm_id")
              .value = PgmId
            document
              .getElementById("saved_pgm_name")
              .value = PgmName

            //Facebook button
            $("#div_fbook").html("<fb:like href=https://liberty-sa.terradotta.com/index.cfm?FuseAction=Programs.ViewProgram&amp;Program_ID=" + PgmId + ' layout="box_count" show_faces="false" width="450" action="like" font="trebuchet ms" />')
            if (typeof FB !== "undefined") {
              FB
                .XFBML
                .parse(document.getElementById("div_fbook"))
            }

            //Twitter button
            $("#div_twitter").html("<a data-url=https://liberty-sa.terradotta.com/index.cfm?FuseAction=Programs.ViewProgram&amp;Program_ID=" + PgmId + ' href="https://twitter.com/share" class="twitter-share-button"  data-count="vertical">Tweet</a>')
            if (typeof FB !== "undefined") {
              FB
                .XFBML
                .parse(document.getElementById("div_twitter"))
            }
            $.getScript("//platform.twitter.com/widgets.js")
          }

          function ClosePopupPaneShare() {
            disablePopup("#maskdivshare", "#PopupPanelshare")
            document.body.style.overflow = "scroll"
          };
          (function (d, s, id) {
            var js,
              fjs = d.getElementsByTagName(s)[0]
            if (d.getElementById(id)) {
              return
            }
            js = d.createElement(s)
            js.id = id
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"
            fjs
              .parentNode
              .insertBefore(js, fjs)
          })(document, "script", "facebook-jssdk")
        </script>

        <input type="hidden" name="pgmallowed" id="pgmallowed"/>
      </main>

      <footer id="pagefooter">
        <div align="center">
          <img
          src="https://liberty-sa.terradotta.com//accounts/EC9E27DA82CA03423EC74CA93EC641B1/themes/stockassets/Capture2.PNG"
          class="img-responsive"
/>
        </div>
      </footer>
    </body>
  </html>

{% else %}
  {% display "settings" %}

  <style>
    {% for style in styles %}
      {% include style + ".css" ignore missing %}
    {% endfor %}
  </style>

  <h1>{{ title }}</h1>

  {{content | safe}}

  <script>
    {% for script in scripts %}
      {% include script + ".js" ignore missing %}
    {% endfor %}
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JM49TQ0ELT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-JM49TQ0ELT');
  </script>
{% endif %}
