{% extends "./main.njk"%}

{% block header %}
  {% if options.header %}
    <div id="lusend-title" class="pt-20">
      <div class="pb-5 max-wrapper">
        {% if eleventyNavigation.parent %}
          <div class="text-sm breadcrumbs">
            {{ collections.pages | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) | eleventyNavigationToHtml | safe }}
          </div>
        {% endif %}
        <h1 {% if author %} style="padding-bottom: 0.75rem;" {% endif %}>{{title}}</h1>
        {% if author %}
          <div id="lusend-author" class="text-sm text-base-300">
            <span class="font-bold">{{ author }}</span><br/>
            <span>On {{ page.date | postDate }}</span>
          </div>
        {% endif %}
      </div>
    </div>
    <svg id="lusend-wave" viewBox="0 0 1200 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M 1200,0 H 0 V 37 C 67,26 133,15 200,10 C 266,4 333,5 400,23 C 466,41 533,76 600,79 C 677,78 738,53 800,48 C 866,44 933,63 1000,62 C 1065,62 1131,41 1200,19 V 0 Z" fill="#0A254E"/>
    </svg>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="{{ "" if options.fullwidth else "max-wrapper" }} min-h-[500px]">
    <div id="lusend-content" class="{{ "" if options.fullwidth else "px-6" }}">
      <div id="lusend-main" class="{% if options.header %} mb-10 pt-10 {% endif %}">
        {{content | safe}}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% if options.footer %}
    <footer id="lusend-footer" class="static bg-transparent">
      <div class="py-5 flex flex-col justify-center items-center text-gray-400{% if options.background %} bg-black" style="--tw-bg-opacity: 0.7; {% else %} bg-[#202020] {% endif %}">
        <a href="/">
          {% logo classes='h-8' %}
        </a>
        <p class="mt-2 text-xs text-center focus:outline-none lg:text-sm">
          &copy; {% year %} Liberty University. All Rights Reserved.<br/>
          <a class="link link-accent" href="https://www.liberty.edu/osd/lu-send/staff/">Contact Us</a>
        </p>
      </div>
    </footer>
  {% endif %}
{% endblock %}
