{% macro login(desktop = true) %}
  {% if desktop %}
    <div class="flex-none tw-hidden lg:flex">
      <a data-lusend-login class="btn btn-ghost rounded-btn" href="/index.cfm?FuseAction=Security.AngLogin">Login</a>
    </div>
  {% else %}
    <ul id="lusend-nav-drawer-login" class="w-full menu">
      <li>
        <a data-lusend-login href="/index.cfm?FuseAction=Security.AngLogin">Login</a>
      </li>
    </ul>
  {% endif %}
{% endmacro %}

{% macro create(collections, desktop = true, transparentbg = false, planes = true) %}
  {% set navPages = collections.pages | eleventyNavigation %}

  {%if desktop %}
    <div class="{{"bg-black bg-opacity-50" if transparentbg else "bg-primary"}} text-primary-content mb-[-1px]">
      <div class="max-wrapper">
        <div class="w-full m-0 navbar">
          <div class="flex-none">
            <a class="btn btn-ghost rounded-btn" href="/">
              {% logo classes='h-8' %}
            </a>
          </div>
          <div class="flex-1">
            <div id="lusend-nav-items">
              {% for entry in navPages %}
                {%if entry.children.length === 0 %}
                  <a class="btn btn-ghost rounded-btn" href="{{ entry.url }}">{{entry.key}}</a>
                {% else %}
                  <div class="dropdown dropdown-hover">
                    <div tabindex="0" class="btn btn-ghost rounded-btn">
                      <a href="{{ entry.url }}">{{ entry.key }}</a>&nbsp;
                      <i class="fa fa-chevron-down" aria-hidden="true">&nbsp;</i>
                    </div>
                    <ul tabindex="0" class="bg-base-100 text-base-content p-1 shadow menu dropdown-content rounded-box w-auto max-h-[70vh] overflow-y-auto">
                      {% for child in entry.children %}
                        <li class="px-2 whitespace-nowrap">
                          <a href="{{child.url}}" class="justify-start btn btn-ghost rounded-btn">{{ child.key }}</a>
                        </li>
                        {% if child.children.length !== 0 %}
                          {% for baby in child.children %}
                            <li class="px-2 whitespace-nowrap">
                              <a href="{{baby.url}}" class="justify-start text-xs btn btn-ghost rounded-btn">&emsp;&emsp;{{ baby.key }}</a>
                            </li>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="flex-none">
            <div class="dropdown dropdown-end dropdown-hover">
              <div {%if planes %} data-active {% endif %} id="lusend-toggle-plane" tabindex="0" class="btn btn-ghost rounded-btn">
                <svg id="lusend-show-plane" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="inline-block w-6 h-6 stroke-current" {%if planes %} style="display: none;" {% endif %} preserveAspectRatio="xMidYMid meet" viewBox="0 0 408 432">
                  <path d="M235 152l170 107v42l-67-21l-167-167V35q0-14 9-23t22.5-9t23 9t9.5 23v117zM21 72l27-27l336 336l-27 27l-122-122v79l42 32v32l-74-21l-75 21v-32l43-32V248L0 301v-42l128-80z" fill="currentColor"></path>
                </svg>
                <svg id="lusend-hide-plane" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="inline-block w-6 h-6 stroke-current" {%if not planes %} style="display: none;" {% endif %}  preserveAspectRatio="xMidYMid meet" viewBox="0 0 408 432">
                  <path d="M175 152zm230 149l-170-53v117l42 32v32l-74-21l-75 21v-32l43-32V248L0 301v-42l171-107V35q0-14 9-23t22.5-9t23 9t9.5 23v117l170 107v42z" fill="currentColor"></path>
                </svg>
              </div>
              <ul id="lusend-plane-density-menu" {%if not planes %} style="opacity: 0; pointer-events: none;" {% endif %} tabindex="0" class="w-auto p-3 shadow menu dropdown-content bg-base-100 text-base-content rounded-box">
                <li>
                  <input id="lusend-plane-density" type="range" min="50" max="5000" style="direction: rtl;" value="2000" class="w-20 range range-primary">
                </li>
              </ul>
            </div>
          </div>
          {{ login(true) }}
          <div class="flex-none lg:hidden">
            <label for="lusend-nav-drawer" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </label>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="w-[75vw] h-[100vh] overflow-auto p-2 bg-neutral text-neutral-content">
      {{ login(false) }}
      {{ navPages | eleventyNavigationToHtml({
            listClass: "menu w-full"
          }) | safe }}
    </div>
    {% endif%}
    {%endmacro%}
