{% ifAsync "NODE_ENV" | env === "development" %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>LU Send</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="MSSmartTagsPreventParsing" content="true"/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://liberty-sa.terradotta.com/_assets/css/bootstrap.min-blue.css?v=TDS19.1-07212020"
/>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://liberty-sa.terradotta.com/_assets/css/master-responsive.css?v=TDS19.1-07212020"
/>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://liberty-sa.terradotta.com/accounts/EC9E27DA82CA03423EC74CA93EC641B1/themes/stockassets/test.min.css"
/>

    <style type="text/css">
      header {
        background-image: none;
        background-color: #202020;
      }

      header {
        padding: 0;
        border-top: 0;
      }

      footer {
        background-image: none;
        background-color: #202020;
      }

      footer {
        padding: 0;
      }

      a {
        color: #0a254e;
      }
      a:hover {
        color: #091f42;
      }
    </style>

    <script
      type="text/javascript"
      src="https://liberty-sa.terradotta.com/_assets/js/master-responsive.js?v=TDS19.1-07212020"
    ></script>

    <script
      type="text/javascript"
      src="https://liberty-sa.terradotta.com/accounts/EC9E27DA82CA03423EC74CA93EC641B1/themes/stockassets/td_script.js"
    ></script>
  </head>
  <body>
    <a
      href="#tds_content_start"
      class="sr-only sr-only-focusable"
      id="skiptocontent"
      >Skip to content</a
    >
    <div id="loading" style="display: none">Loading...</div>
    <noscript
      >
      <p class="alert alert-danger">
        <strong
          >Your browser does not support JavaScript, or it is currently
          disabled. This site requires JavaScript support to run
          properly.</strong
        >
      </p>
    </noscript
    >
    <a id="top"></a>

    <header id="pageheader">
      <div align="center">
        <a
          href="https://liberty-sa.terradotta.com/"
          title="LU Send - Liberty University"
          ><img
            src="https://liberty-sa.terradotta.com/accounts/EC9E27DA82CA03423EC74CA93EC641B1/themes/stockassets/Capture.PNG"
            class="img-responsive"
            alt="LU Send - Liberty University"
/></a>
      </div>
    </header>

    <div id="pagenav-wrapper">
      <nav id="pagenav" class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="visible-xs fullname-xs">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#top-navbar"
                aria-expanded="false"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="nav navbar-nav navbar-left">
              <li>
                <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.Home"
                  >
                  <i class="fa fa-lg fa-home"
                    >
                    <span class="sr-only">Site home</span></i
                  >
                </a
                >
              </li>

              <li>
                <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Programs.Home"
                  >Programs</a
                >
              </li>

              <li>
                <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=StaffMain.Home"
                  >Staff</a
                >
              </li>

              <li>
                <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Programs.ViewDeadlines"
                  >Deadlines</a
                >
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a
                  href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Security.AngLogin"
                  >LOGIN</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <main id="pagebody" class="container">
      <div class="row">
        <div id="pagebodysidebar">
          <ul class="sidebar-nav dropdown-menu hidden-sm hidden-xs" role="menu">
            <li>
              <a
                href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=B69276AB-5056-BA1F-72F267BAC4965C91"
                role="menuitem"
                class="nav-option"
                >Short Term International Trips</a
              >
            </li>

            <li>
              <a
                href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=6B422487-5056-BA1F-71B651CF2B6CDF4E"
                role="menuitem"
                class="nav-option"
                >LU Send Now</a
              >
            </li>

            <li class="dropdown-submenu">
              <a
                href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=73C78974-5056-BA21-D7E93DE562E89AC2"
                role="menuitem"
                class="nav-option"
                >Faculty/Staff Gateway</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=73C78974-5056-BA21-D7E93DE562E89AC2&amp;Link_ID=39C29F41-EF4F-2114-5C31755E86707BA9"
                    role="menuitem"
                    class="nav-option"
                    >Faculty Gateway - International Travel</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=73C78974-5056-BA21-D7E93DE562E89AC2&amp;Link_ID=39BEC967-F4E8-B469-30D5FC4BFFAE4D24"
                    role="menuitem"
                    class="nav-option"
                    >Faculty Gateway - Domestic Travel</a
                  >
                </li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a
                href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA"
                role="menuitem"
                class="nav-option"
                >Study Abroad</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B32D84A-5056-BA21-D7168B0A82DCB0DF"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Getting Started & Advising</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B3FAED0-5056-BA21-D7BC9BF8D3D9AA41"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Program Process</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B5E85CB-5056-BA21-D7AC6A4D3CC819D6"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Signature Programs</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B6CFD67-5056-BA21-D7FDEE246A16DCB9"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - International Internships</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B94C329-5056-BA21-D72ECAF18A36AD4B"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Custom Programs</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3BBB813C-5056-BA2E-6F7309A4BAE0348F"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - Policies & Guidelines</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3BC1C7C7-5056-BA2E-6F9685DC580CB39C"
                    role="menuitem"
                    class="nav-option"
                    >LU Send Study Abroad - FAQ</a
                  >
                </li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a
                href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=0CB305D3-5056-BA2E-6F7BE8A466720122"
                role="menuitem"
                class="nav-option"
                >G5</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0CB305D3-5056-BA2E-6F7BE8A466720122&amp;Link_ID=E4194D9A-5056-BA21-D7A3784893E2B2AC"
                    role="menuitem"
                    class="nav-option"
                    >G5 - Trips</a
                  >
                </li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a
                href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=A71C672A-5056-BA2E-6FF2B5A890C4D306"
                role="menuitem"
                class="nav-option"
                >LU Serve</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=A71C672A-5056-BA2E-6FF2B5A890C4D306&amp;Link_ID=44D325BE-9A2D-7DCA-FA8E64A6770B6892"
                    role="menuitem"
                    class="nav-option"
                    >LU Serve - Map</a
                  >
                </li>
              </ul>
            </li>

            <li>
              <a
                href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=D65C5D0F-A88E-5EFF-0F217207CA791725"
                role="menuitem"
                class="nav-option"
                >Update Program Parameters</a
              >
            </li>

            <li>
              <a
                href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=C39C30B0-AC2C-B711-CE82F95B46F0EB04"
                role="menuitem"
                class="nav-option"
                >Test</a
              >
            </li>
          </ul>
          <div class="mobilesite-nav visible-sm visible-xs">
            <div class="dropdown">
              <button
                class="btn btn-default btn-block dropdown-toggle"
                type="button"
                id="sitelinks"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                Site links <span class="caret"></span>
              </button>
              <ul class="dropdown-menu btn-block" aria-labelledby="sitelinks">
                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=B69276AB-5056-BA1F-72F267BAC4965C91"
                    >Short Term International Trips</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=6B422487-5056-BA1F-71B651CF2B6CDF4E"
                    >LU Send Now</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=73C78974-5056-BA21-D7E93DE562E89AC2"
                    >Faculty/Staff Gateway</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=73C78974-5056-BA21-D7E93DE562E89AC2&amp;Link_ID=39C29F41-EF4F-2114-5C31755E86707BA9"
                    >&nbsp;&nbsp;Faculty Gateway - International Travel</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=73C78974-5056-BA21-D7E93DE562E89AC2&amp;Link_ID=39BEC967-F4E8-B469-30D5FC4BFFAE4D24"
                    >&nbsp;&nbsp;Faculty Gateway - Domestic Travel</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA"
                    >Study Abroad</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B32D84A-5056-BA21-D7168B0A82DCB0DF"
                    >&nbsp;&nbsp;LU Send Study Abroad - Getting Started &
                    Advising</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B3FAED0-5056-BA21-D7BC9BF8D3D9AA41"
                    >&nbsp;&nbsp;LU Send Study Abroad - Program Process</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B5E85CB-5056-BA21-D7AC6A4D3CC819D6"
                    >&nbsp;&nbsp;LU Send Study Abroad - Signature Programs</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B6CFD67-5056-BA21-D7FDEE246A16DCB9"
                    >&nbsp;&nbsp;LU Send Study Abroad - International
                    Internships</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3B94C329-5056-BA21-D72ECAF18A36AD4B"
                    >&nbsp;&nbsp;LU Send Study Abroad - Custom Programs</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3BBB813C-5056-BA2E-6F7309A4BAE0348F"
                    >&nbsp;&nbsp;LU Send Study Abroad - Policies & Guidelines</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=3B13C3A6-5056-BA21-D7EF8BEAAB5A22CA&amp;Link_ID=3BC1C7C7-5056-BA2E-6F9685DC580CB39C"
                    >&nbsp;&nbsp;LU Send Study Abroad - FAQ</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=0CB305D3-5056-BA2E-6F7BE8A466720122"
                    >G5</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0CB305D3-5056-BA2E-6F7BE8A466720122&amp;Link_ID=E4194D9A-5056-BA21-D7A3784893E2B2AC"
                    >&nbsp;&nbsp;G5 - Trips</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=A71C672A-5056-BA2E-6FF2B5A890C4D306"
                    >LU Serve</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=A71C672A-5056-BA2E-6FF2B5A890C4D306&amp;Link_ID=44D325BE-9A2D-7DCA-FA8E64A6770B6892"
                    >&nbsp;&nbsp;LU Serve - Map</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=D65C5D0F-A88E-5EFF-0F217207CA791725"
                    >Update Program Parameters</a
                  >
                </li>

                <li>
                  <a
                    href="https://liberty-sa.terradotta.com/index.cfm?FuseAction=Abroad.ViewLink&amp;Parent_ID=0&amp;Link_ID=C39C30B0-AC2C-B711-CE82F95B46F0EB04"
                    >Test</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div id="pagebodycontent" class="page-content public-page-content">
          <a id="tds_content_start"></a>
          <div id="pagebodycontentheader">
            <h2>Test</h2>
          </div>
          <div id="sa_content">
            <a id="sa_content_start"></a
            >
            <!-- HTML Meta Tags -->
            <meta
              name="description"
              content="LU Send exists to train Champions for Christ to become global citizens through experiential learning and cultural engagement"
/>
            <meta name="author" content="P. Christopher Bowers"/>

            <!-- Google / Search Engine Tags -->
            <meta itemprop="name" content="Liberty University LU Send"/>
            <meta
              itemprop="description"
              content="LU Send exists to train Champions for Christ to become global citizens through experiential learning and cultural engagement"
/>
            <meta
              itemprop="image"
              content="http://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=29644"
/>

            <!-- Facebook Meta Tags -->
            <meta
              property="og:url"
              content="https://liberty-sa.terradotta.com"
/>
            <meta property="og:type" content="website"/>
            <meta property="og:title" content="Liberty University LU Send"/>
            <meta
              property="og:description"
              content="LU Send exists to train Champions for Christ to become global citizens through experiential learning and cultural engagement"
/>
            <meta
              property="og:image"
              content="http://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=29644"/>

            <!-- Twitter Meta Tags -->
            <meta name="twitter:card" content="summary_large_image"/>
            <meta name="twitter:title" content="Liberty University LU Send"/>
            <meta
              name="twitter:description"
              content="LU Send exists to train Champions for Christ to become global citizens through experiential learning and cultural engagement"
/>
            <meta
              name="twitter:image"
              content="http://liberty-sa.terradotta.com/_customtags/ct_Image.cfm?Image_ID=29644"
/>

            {% include "./base.njk" %}

          </div>
        </div>
      </div>
    </main>

    <footer id="pagefooter">
      <div align="center">
        <img
          src="https://liberty-sa.terradotta.com//accounts/EC9E27DA82CA03423EC74CA93EC641B1/themes/stockassets/Capture2.PNG"
          class="img-responsive"
/>
      </div>
    </footer>
  </body>
</html>
{% else %}
{% include "./base.njk" %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JM49TQ0ELT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-JM49TQ0ELT');
</script>
{% endif %}
